---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ServiceList from "@/components/widgets/ServiceList.astro";
import Content from "@/components/widgets/Content.astro";
import Content2 from "@/components/widgets/Content2.astro";
import webDevImg from "@/assets/images/services/web-dev.webp";
import seoImg from "@/assets/images/services/seo.webp";
import consultingImg from "@/assets/images/services/consulting.webp";
import { useTranslations } from "@/utils/i18n";

const lang = "de"; // or "de"
const t = useTranslations(lang);

const services = [
  {
    title: `${t("service_ServiceList_1_title")}`,
    description: `${t("service_ServiceList_1_description")}`,
    icon: "lucide:bot",
  },
  {
    title: `${t("service_ServiceList_2_title")}`,
    description: `${t("service_ServiceList_2_description")}`,
    icon: "lucide:pickaxe",
  },
  {
    title: `${t("service_ServiceList_3_title")}`,
    description: `${t("service_ServiceList_3_description")}`,
    icon: "lucide:monitor-cog",
  },
];
const metadata = {
  title: `${t("service_metadata_title")}`,
  description:
    `${t("service_metadata_description")}`,
};
---

<BaseLayout {metadata}>
  <Content
    tagline=`${t("service_Content_1_tagline")}`
    title=`${t("service_Content_1_title")}`
    description={[
      `${t("service_Content_1_description")}`,
    ]}
  />
  <ServiceList services={services} classes={{ container: "pt-0 md:pt-0" }} />
  <Content
    tagline=`${t("service_Content_2_tagline")}`
    title=`${t("service_Content_2_title")}`
    description={[
      `${t("service_Content_2_description")}`,     
    ]}
    classes={{ container: "pb-0 md:pb-0" }}
  />
  <Content2
    items={[
      {
        title: `${t("service_Content2_1_items_1_title")}`,
        description:
          `${t("service_Content2_1_items_1_description")}`,
      },
      {
        title: `${t("service_Content2_1_items_2_title")}`,
        description:
          `${t("service_Content2_1_items_2_description")}`,
      },
    ]}
    image={webDevImg}
    imageAlt="Modern Web Development"
    classes={{ container: "pt-0 md:pt-0" }}
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        {t("service_Content2_1_Fragment_title")}
      </h3>
      {t("service_Content2_1_Fragment_description")}
    </Fragment>
  </Content2>

  <Content2
    isReversed={true}
    items={[
      {
        title: `${t("service_Content2_2_items_1_title")}`,
        description:
          `${t("service_Content2_2_items_1_description")}`,
      },
      {
        title: `${t("service_Content2_2_items_2_title")}`,
        description:
          `${t("service_Content2_2_items_2_description")}`,
      },
    ]}
    image={seoImg}
    imageAlt="SEO Strategies"
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        {t("service_Content2_2_Fragment_title")}
      </h3>
      {t("service_Content2_2_Fragment_description")}
    </Fragment>
  </Content2>

  <Content
    tagline=`${t("service_Content_3_tagline")}`
    title=`${t("service_Content_3_title")}`
    description={[
      `${t("service_Content_3_description")}`,     
    ]}
    classes={{ container: "pb-0 md:pb-0" }}
  />
  <Content2
    items={[
      {
        title: `${t("service_Content2_3_items_1_title")}`,
        description:
          `${t("service_Content2_3_items_1_description")}`,
      },
      {
        title: `${t("service_Content2_3_items_2_title")}`,
        description:
         `${t("service_Content2_3_items_2_description")}`,
      },
    ]}
    image={seoImg}
    imageAlt="Mining Technologies"
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        {t("service_Content2_3_Fragment_title")}
      </h3>
      {t("service_Content2_3_Fragment_description")}
    </Fragment>
  </Content2>

  <Content2
    isReversed={true}
    items={[
      {
        title: `${t("service_Content2_4_items_1_title")}`,
        description:
          `${t("service_Content2_4_items_1_description")}`,
      },
      {
        title: `${t("service_Content2_4_items_2_title")}`,
        description:
         `${t("service_Content2_4_items_2_description")}`,
      },
    ]}
    image={consultingImg}
    imageAlt="Technology Consulting"
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        {t("service_Content2_4_Fragment_title")}
      </h3>
      {t("service_Content2_4_Fragment_description")}
    </Fragment>
  </Content2>
</BaseLayout>
