---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Content2 from "@/components/widgets/Content2.astro";
import GifsCard from "@/components/widgets/GifsCard.astro";
import ImagesCard from "@/components/widgets/ImagesCard.astro";
import HoveringCircle from "@/components/widgets/HoveringCircle.astro";
import VideoHero from "@/components/widgets/VideoHero.astro";
import Hero from "@/components/widgets/Hero.astro";
import mining1Img from "@/assets/images/services/mining1.png";
import mining2Img from "@/assets/images/services/mining2.png";
import mining3Img from "@/assets/images/services/mining3.png";
import devImg from "@/assets/images/dev_balanced.png";
import stairVid from "@/assets/videos/stairTest.mp4";
import miningVid from "@/assets/videos/videoMining.mp4";
import sandGif from "@/assets/videos/SandDeep.mp4";
import snowGif from "@/assets/videos/SchneeDeep.mp4";
import stairGif from "@/assets/videos/TreppenDeep.mp4";
import VideoText from "@/components/widgets/VideoText.astro";
import { useTranslations } from "@/utils/i18n";
const lang = "en"; // or "de"
const t = useTranslations(lang);

const current_features = [
  {
    title: `${t("mining_hoveringCircle_item_1_title")}`,
    description: `${t("mining_hoveringCircle_item_1_description")}`,
    icon: "lucide:cog",
  },
  {
    title: `${t("mining_hoveringCircle_item_2_title")}`,
    description: `${t("mining_hoveringCircle_item_2_description")}`,
    icon: "lucide:clipboard-clock",
  },
  {
    title: `${t("mining_hoveringCircle_item_3_title")}`,
    description: `${t("mining_hoveringCircle_item_3_description")}`,
    icon: "lucide:brick-wall-shield",
  },
];
const metadata = {
  title: "Services",
  description:
    "Discover our web development, SEO optimization, and technology consulting services.",
};
---

<BaseLayout {metadata}>
  <VideoHero
    title={`${t("mining_videoHero_title")}`}
    subtitle={`${t("mining_videoHero_subtitle")}`}
    poster="/videos/mbtHeroPoster.webp"
    videoSrc={miningVid}
  />

  <Hero
    title={`${t("mining_hero_title")}`}
    tagline={`${t("mining_hero_tagline")}`}
    description={`${t("mining_hero_description")}`}
  />

  <ImagesCard
    title={t("mining_imagescard_title")}
    description={t("mining_imagescard_description")}
    items={[
      {
        src: mining1Img.src,
        alt: "mining demo 1",
      },
      {
        src: mining2Img.src,
        alt: "mining demo 2",
      },
      {
        src: mining3Img.src,
        alt: "mining demo 3",
      },
    ]}
  />

  <HoveringCircle 
    title={t("mining_hoveringcircle_title")}
    items={current_features} 
  />

  <VideoText
    eyebrow={t("mining_videoText_eyebrow")}
    title={t("mining_videoText_title")}
    description={t("mining_videoText_description")}
    videoSrc={stairVid}
    poster="/videos/robot-demo-poster.webp"
    actions={[
      {
        text: t("mining_videoText_action_ariaLabel"),
        href: `/${lang}/contact`,
        variant: "secondary",
        icon: "lucide:arrow-right",
        ariaLabel: t("mining_videoText_action_ariaLabel"),
      },
    ]}
    animate
  />

  <Content2
    items={[
      {
        title: `${t("mining_content2_items_1_title")}`,
        description: `${t("mining_content2_items_1_description")}`,
        icon: "lucide:book-alert",
        iconClass: "bg-blue-500/10 text-blue-400",
      },
      {
        title: `${t("mining_content2_items_2_title")}`,
        description: `${t("mining_content2_items_2_description")}`,
        icon: "lucide:bug-off",
        iconClass: "bg-purple-500/10 text-purple-400",
      },
      {
        title: `${t("mining_content2_items_3_title")}`,
        description: `${t("mining_content2_items_3_description")}`,
        icon: "lucide:shield-check",
        iconClass: "bg-pink-500/10 text-pink-400",
      },
    ]}
    image={devImg}
    imageAlt="Development"
    actions={[
      {
        text: `${t("mining_content2_actions_text")}`,
        href: `/${lang}/contact`,
        variant: "primary",
        icon: "lucide:mail",
        ariaLabel: `${t("mining_content2_actions_arialLabel")}`,
      },
    ]}
  >
    <Fragment>
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">
        {t("mining_content2_fragment_h3tag")}
      </h3>
      {t("mining_content2_fragment_description")}
    </Fragment>
  </Content2>

  <GifsCard
    title={t("mining_gifscard_title")}
    description={t("mining_gifscard_description")}
    items={[
      {
        src: (sandGif),
        alt: "mining demo 1",
      },
      {
        src: (snowGif),
        alt: "mining demo 2",
      },
      {
        src: (stairGif),
        alt: "mining demo 3",
      },
    ]}
  />

  <Hero
    title={`<span class="bg-linear-to-r from-green-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">${t("mining_hero2_title")}</span> `}
    description={`${t("mining_hero2_description")}`}
  />
</BaseLayout>

