---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getImage } from "astro:assets";
import Content2 from "@/components/widgets/Content2.astro";
import Values from "@/components/widgets/Values.astro";
import aboutImage from "@/assets/images/about-office.webp";
import VideoHero from "@/components/widgets/VideoHero.astro";
import { useTranslations } from "@/utils/i18n";

const metadata = {
  title: "About us",
  description:
    "Learn more about our vision, values, and the team behind Astro Starter Pro.",
  };
  
const lang = "de"; // or "de"
const t = useTranslations(lang);

const values = [
  {
    title: `${t("aboutus_values_1_title")}`,
    description:
      `${t("aboutus_values_1_description")}`,
  },
  {
    title: `${t("aboutus_values_2_title")}`,
    description:
      `${t("aboutus_values_2_description")}`,
  },
  {
    title: `${t("aboutus_values_3_title")}`,
    description:
      `${t("aboutus_values_3_description")}`,
  },
  {
    title: `${t("aboutus_values_4_title")}`,
    description:
      `${t("aboutus_values_4_description")}`,
  },
  {
    title: `${t("aboutus_values_5_title")}`,
    description:
      `${t("aboutus_values_5_description")}`,
  },
  {
    title: `${t("aboutus_values_6_title")}`,
    description:
      `${t("aboutus_values_6_description")}`,
  },
];

const optimizedImage = await getImage({
  src: aboutImage,
  format: "webp",
});

---

<BaseLayout {metadata}>
  <VideoHero
      title={`<span class="bg-linear-to-r from-blue-400 via-purple-400 to-pink-400 bg-clip-text text-transparent">${t("aboutus_videoHero_title")}</span>`}
      poster="/videos/mbtHeroPoster.webp"
      videoSrc=/videos/about_us.mp4
    />
  <link slot="head" rel="preload" href={optimizedImage.src} as="image" />
  <Content2
    title=`${t("aboutus_Content2_1_title")}`
    description={[`${t("aboutus_Content2_1_description")}`]}
    tagline=`${t("about")}`
    image={aboutImage}
    imageAlt="Modern web development office"
    actions={[
      {
        text: "Contact Us",
        href: `/${lang}/contact`,
        variant: "primary",
        icon: "lucide:mail",
      },
      {
        text: "View Details",
        href: "#",
        variant: "secondary",
        icon: "lucide:arrow-right",
      },
    ]}
  />
  <Values
    items={values}
    columns={3}
    tagline=`${t("aboutus_values_tagline")}`
    title=`${t("aboutus_values_title")}`
    subtitle=`${t("aboutus_values_subtitle")}`
  />
  <Content2
    title=`${t("aboutus_Content2_2_title")}`
    description={[`${t("aboutus_Content2_2_description")}`]}
    tagline=`${t("about")}`
    image={aboutImage}
    imageAlt="Modern web development office"
    actions={[
      // {
      //   text: "Contact Us",
      //   href: "/contact",
      //   variant: "primary",
      //   icon: "lucide:mail",
      // },
      {
        text: "View Details",
        href: `/${lang}/services/mining`,
        variant: "secondary",
        icon: "lucide:arrow-right",
      },
    ]}
    isReversed={true}
  />
</BaseLayout>
